body {
    background-color: rgba(0, 255, 255, 0.5);
    height: 100vh;
    font-family: arial;
}

h1 {
    text-align: center;
    color: black;
}

p {
    text-align: justify;
    margin: 10px;
    color: black;
}