body {
    font-family: arial;
    background-image: linear-gradient(to left, brown, violet);
}

h1 {
    color: antiquewhite;
}

h2 {
    color: greenyellow;
}

p {
    color: antiquewhite;
}

.centralizado {
    text-align: center;
}